#Picture{
        background-image: url("AvicNdugu.jpeg");
    background-repeat: no-repeat, repeat;
    height: 850px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  #topbar {
    background-color: white;
    overflow: hidden;
  }
  
  #topbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #topbar a:hover {
    border-top: 4px solid darkcyan;
  }
  #mainTitle{
    font-size: 61px;
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
  }
  #title{
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 63%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    text-align: center;


  }
  
  
  